.section-header {
  nav {
    .container {
      .logo-header {
        background-color: blue;
        img {
          width: 100vw;
          height: 27vh;
        }
      }
    }
  }
}
