.container {
  .ctn-badge {
    .section-title {
      .row {
        .user-name {
          h1 {
            font: size 40px;
          }
          img {
            width: 30px;
          }
        }
        .info-user {
          // background-color: $ligth-gray;
          p.twitter {
            &:after {
              content: "";
            }
            &:before {
              content: "";
            }
          }
        }
      }
    }
  }
}
